<font color=#1E90FF>**TPL Name:** </font> {{ .Name }} <br>
<font color=#1E90FF>**Task ID:**</font> {{ .Task.ID }} <br>
<font color=#1E90FF>**Task Result:**</font> {{ .Task.Result }}<br>
<font color=#1E90FF>**Desc:**</font>{{ .Task.Desc }}<br>
**by {{ .Author }}**<br>
<font color=#00CD66>{{ .Task.URL }}</font> 